.App {
  min-width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
  text-align: center;
}

.app-title {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #f1f1f1;
  margin: 0;
  padding-top: 40px;
}

.search-form {
  margin: 60px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}

.search-button {
  background:#f3f3f3;
  border: none;
  padding: 10px 20px;
  color: #c4a;
  font-weight: 700;
  border-radius: 0 5px 5px 0;
}

.recipes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: left;
}
