html {
  padding: 0;
}

.App {
  min-width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

h1 {
  font-size: 50px;
  color: #ddd;
  margin: 0;
  padding-top: 40px;
}

.search-form {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  margin-top: 60px;
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background:#f3f3f3;
  border: none;
  padding: 10px 20px;
  color: #c4a;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
