.recipe {
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgb(87, 87, 87);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #f3f3f3;
  align-items: center;
  width: 35%;
  padding: 20px 50px;
}

.title {
  font-size: 30px;
  font-weight: 600;
  color: #5f5f5f;
}

.image {
  border-radius: 10px;
  width: 60%;
  height: 200px;
  margin: 20px;
}

.text {
  font-weight: 400;
  color: #5f5f5f;
}

.calories {
  font-weight: 400;
  color: #5f5f5f;
}
